

/* Articles */

.section-articles img {
    width: 100%;
}

.section-articles > h2 {
    font-family: 'Oswald',sans-serif ;
    font-weight: bold;
}

.section-articles a {
    color: #000;
    text-decoration: none;
}

